@mixin card{
  background: #FFFFFF;
  border-radius: 3px;
  padding: 1rem;
}

.sherpon-card {
  @include card;
  box-shadow: 0px 2px 10px rgba(118, 106, 250, 0.05);
}

.sherpon-card-floating {
  @include card;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}