$colorPrimary: #766AFA;
$colorSecundary: #5851EA;
$colorPrimaryBackground: #D6D2FE;
$colorTextHard: #4D4D4D;
$colorText: #4D4D4D;
$colorAccent: #FFA820;
$colorAccentBackground: #FFE5BC;
$colorPlaceholder: #EBEBEB;
$colorBackground: #FAFAFA;
$colorOverlay: rgba(71, 62, 179, 0.4);