.hero-container-section {
  padding: 3rem 3rem 0rem 3rem;
  //background: linear-gradient(199.95deg, #766AFA 8.58%, #5851EA 100%);
  background: linear-gradient(187.29deg, #766AFA 8.58%, #5851EA 25.67%, #2F2F2F 99.52%);

  @media(min-width: 750px) {
    padding: 4.5rem 4.5rem 4.5rem 4.5rem;
  }

  @media(min-width: 1200px) {
    padding: 9.5rem 9.5rem 9.5rem 9.5rem;
  }

  .animation__editor {
    position: absolute;
    transform: rotateY(-20deg) rotateX(40deg);
    width: 226px;
    height: 170px;

    @media(min-width: 750px) {
      width: 278px;
      height: 209px;
    }
  
    @media(min-width: 1200px) {
      width: 624px;
      height: 468px;
    }
  
    &__wrapper {
      position: relative;
      height: 100%;

      > img {
        position: absolute;
      }
    }
  }
}

.hero-section {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 300px;
  grid-template-areas: 
    "hero"
    "animation";

  @media(min-width: 750px) {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
      "hero animation";
  }

  @media(min-width: 1200px) {
    grid-template-columns: 35% 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "hero animation";
  }

  &__hero {
    grid-area: hero;
    color: #ffffff;

    &__logo {
      font-weight: bold;
      font-size: 3rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 4rem;

      @media(min-width: 750px) {
        font-size: 4rem;
        margin-bottom: 5rem;
      }
    
      @media(min-width: 1200px) {
        font-size: 5rem;
        margin-bottom: 8rem;
      }

      > img {
        width: 29px;
        height: 29px;
        margin-right: 1rem;

        @media(min-width: 750px) {
          width: 53px;
          height: 53px;
          margin-right: 1.5rem;
        }
    
        @media(min-width: 1200px) {
          width: 83px;
          height: 83px;
          margin-right: 3.1rem;
        }
      }
    }

    &__title {
      font-weight: bold;
      font-size: 40px;
      line-height: 46px;
      letter-spacing: -0.01em;
      margin-bottom: 4rem;

      @media(min-width: 750px) {
        font-size: 50px;
        line-height: 57px;
        // margin-bottom: 3.5rem;
      }
    
      @media(min-width: 1200px) {
        font-size: 60px;
        line-height: 69px;
        // margin-bottom: 5rem;
      }
    }

    &__description {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: -0.01em;
      margin-bottom: 4rem;

      @media(min-width: 750px) {}
    
      @media(min-width: 1200px) {}
    }

    &__action {
      height: 4.5rem;
      // margin-bottom: 6rem;

      @media(min-width: 750px) {}
    
      @media(min-width: 1200px) {}

      > .hero-button-container {
        position: relative;
        > a > .hero-button {
          position: absolute;
          top: 0px;
          background: #FFFFFF;
          color: #6058EF;
          font-weight: 400;
          width: 100%;
          height: 4.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }

        > a > .hero-button:hover {
          top: -5px;
          box-shadow: 0px 6px 10px rgba(0, 0, 0, .2);
          transition: .2s;
        }
      }
      
    }
  }

  &__animation {
    grid-area: animation;
    position: relative;
    perspective: 1500px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // perspective-origin: right top;
    // transform-style: preserve-3d;

    @media(min-width: 750px) {
      // margin-top: 9rem;
    }
    
    @media(min-width: 1200px) {}
  }
}
