.cta-container-section {
  background: #313139;
  color: #FFFFFF;
  width: 100%;
  height: 100vh;
}

.cta-container-section__wrapper {
  height: 100vh;
  background: #313139;
  width: 100%;
}

.cta-container-section__wrapper__animation {
  width: 100%;
  position: absolute;
}

.cta-section {
  padding: 6rem 4rem 4rem 4rem;
  height: calc(100vh - 8rem);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "message"
    "activity";

  @media(min-width: 750px) {
    padding: 6rem;
    height: calc(100vh - 12rem);
    grid-template-columns: 65% 35%;
    grid-template-rows: auto;
    grid-template-areas: 
      "activity message";
  }

  @media(min-width: 1200px) {
    padding: 12rem;
    height: calc(100vh - 24rem);
  }

  &__message {
    grid-area: message;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media(min-width: 750px) {
      padding: 0rem 5rem 0rem 5rem;
    }

    @media(min-width: 1200px) {
      padding: 0rem 5rem 0rem 5rem;
    }

    &__title {
      font-family: Ubuntu;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 29px;
      /* identical to box height */
      letter-spacing: -0.01em;
      margin-bottom: 6rem;

      @media(min-width: 750px) {
        font-size: 32px;
        line-height: 37px;
      }
    }

    &__description {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: -0.01em;
      margin-bottom: 2rem;
      width: 100%;

      > .cta-button-container {
        position: relative;
        width: 100%;

        > .cta-button {
          position: absolute;
          top: 0px;
          background: #6058EF;
          color: #FFFFFF;
          font-weight: 400;
          width: 100%;
          height: 4.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
  
        > .cta-button:hover {
          top: -5px;
          box-shadow: 0px 6px 10px rgba(0, 0, 0, .2);
          transition: .2s;
        }
      }
    }
  }

  &__action {
    grid-area: activity;
    position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }
}